body {
    margin: 20px;
    font-family: Courier New, Courier, monospace;
    text-shadow: 5px 5px 4px #5F5576;
}

.avatar {
    width: 160px;
    border: 2px solid #5F5576;
    border-radius: 50px;
 }

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #E2E4F6;
    color: #2B2926;
    border-bottom: 6px solid #5F5576;
    border-top: 1px solid #5F5576;
    border-left: 1px solid #5F5576;
    border-right: 4px solid #5F5576;
    border-radius: 10px
 }

.border-blue {
    border: 1px dotted blue;
 }